.create-card {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.rectangle-1 {
  width: 432px;
  height: 493px;
  left: 0;
  top: 0;
  background: #F2F2F2;
  border-radius: 17px;
}

.text {
  width: 266px;
  height: 27px;
  left: 25px;
  top: 37px;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  display: flex;
  align-items: center;
  color: #000000;
}

.button-create {
  width: 188px;
  height: 37px;
  left: 218px;
  top: 422px;
}

.button-background {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.background {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #2F80ED;
  border-radius: 67px;
}

.button-text {
  left: 25%;
  right: 20%;
  top: 20%;
  bottom: 20%;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.create-card-text {
  left: 10%;
  right: 11%;
  top: 6%;
  bottom: 13%;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.login {
  visibility: hidden;
  width: 50px;
  height: 18px;
  left: 149px;
  top: 431px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration-line: underline;
  color: #2F80ED;
}

.title {
  width: 382px;
  height: 62px;
  left: 25px;
  top: 93px;
}

.rectangle-2 {
  width: 382px;
  height: 44px;
  left: 25px;
  top: 111px;
  background: #E0E0E0;
}

.title-text {
  width: 62px;
  height: 15px;
  left: 32px;
  top: 93px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: #828282;
}

.description {
  width: 382px;
  height: 62px;
  left: 25px;
  top: 171px;
}

.description-rectangle-22 {
  width: 382px;
  height: 43px;
  left: 25px;
  top: 190px;
  background: #E0E0E0;
}

.description-text {
  width: 61px;
  height: 15px;
  left: 32px;
  top: 171px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: #828282;
}

.link-img {
  width: 382px;
  height: 62px;
  left: 25px;
  top: 249px;
}

.link-img-rectangle-2 {
  width: 382px;
  height: 43px;
  left: 25px;
  top: 268px;
  background: #E0E0E0;
}

.link-video-text {
  width: 34px;
  height: 14px;
  left: 32px;
  top: 249px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: #828282;
}

.link-video {
  width: 382px;
  height: 62px;
  left: 25px;
  top: 327px;
}

.link-video-rectangle-2 {
  width: 382px;
  height: 44px;
  left: 25px;
  top: 345px;
  background: #E0E0E0;
}
